/* Root */
.home-root {
  position: relative;
  min-height: 100vh;
  color: white;
  overflow: hidden;
  background: #0b0b10;
}

html {
  scroll-behavior: smooth;
}




/* Background layer */
.home-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

}


.navbar-inner {
  position: relative;
  max-width: 1100px;
  height: 80px;
  margin: 0 auto;
  margin-top: 50px ;
  padding: 1px 10px;
  z-index :10;
  background-color: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(12px);
  background: rgba(253, 253, 253, 0.075);
  border-radius: 80px;
  border: 1px solid rgba(255,255,255,0.08);
}

.logo {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: Luminari; 
  font-weight: lighter;
 

}

.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a {
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 25px;
  color: aliceblue;
  font-family: Luminari; 
  font-weight: lighter;
}

.nav-links a:hover {
  color: white;
  background: rgba(255,255,255,0.10);
  border: 1px solid rgba(255,255,255,0.12);
 

}


/* Hero */
.hero {
  position: relative;
  z-index: 1;

  height: 1100px;
  width: 1000px;
  margin: 0 auto;
  padding-top: 60px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: Luminari;
  text-align: center;
  padding: 0 24px;
  color: rgb(255, 255, 255);
}

.hero h1 {
  font-size: clamp(40px, 6vw, 56px);
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.9);
  opacity: 80%;
}

.hero p {
  color: #678597;
  margin-bottom: 32px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Buttons */
.hero-buttons {
  display: flex;
  gap: 16px;
  opacity: 70%;
}

.primary {
  background: white;
  color: black;
  padding: 12px 20px;
  border-radius: 999px;
  border: none;
  font-weight: 500;
}

.secondary {
  background: rgba(255,255,255,0.1);
  color: white;
  padding: 12px 20px;
  border-radius: 999px;
  border: 1px solid rgba(255,255,255,0.2);
}
