.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
  background-color: rgba(4, 0, 7, 0.986);
}

.bg-layer {
  position: absolute;
  inset: 0;
  pointer-events: none; /* <-- key */
  z-index: 0;
}
.content-layer {
  position: relative;
  z-index: 1;
}
